@mixin textarea-outline {
  border: dashed 2px rgb(255 255 255 / 10%);
  border-radius: 6px;
  transition: border-color 0.25s ease;

  &:hover,
  &:focus {
    border-color: rgb(255 255 255 / 20%);
  }
}

@mixin animate-dialog-entry-exit {
  --transition: 250ms ease-out;
  --animation-in-settings: 500ms cubic-bezier(0.25, 0, 0.3, 1) normal;
  --animation-out-settings: 500ms cubic-bezier(0.5, -0.5, 0.1, 1.5) normal;

  &[open] {
    animation: slidein var(--animation-in-settings);
  }
  &.is-hidden {
    animation: minimize var(--animation-out-settings);
  }
  @media (prefers-reduced-motion: reduce) {
    &[open] {
      animation: fadein var(--animation-out-settings);
    }
    &.is-hidden {
      animation: fadeout var(--animation-out-settings);
    }
  }

  &::backdrop {
    -webkit-animation: none;
    animation: none;
  }

  &[open]::backdrop {
    -webkit-animation: fadein var(--animation-in-settings);
    animation: fadein var(--animation-in-settings);
  }

  &.is-hidden::backdrop {
    -webkit-animation: fadeout var(--animation-out-settings);
    animation: fadeout var(--animation-out-settings);
  }

  @keyframes slidein {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeout {
    to {
      opacity: 0;
    }
  }

  @keyframes minimize {
    to {
      opacity: 0;
      transform: scale(0);
    }
  }
}
