$backdrop-background: rgb(0 0 0 / 60%);

:root {
  --slide-content-width: 70vw;
  --slide-content-padding-right: 10vw;
  --slide-content-padding-left: 5vw;
  --slide-content-gradient: linear-gradient(
    90deg,
    rgb(0 0 0 / 80%) 30%,
    rgb(0 0 0 / 60%) 70%,
    rgb(0 0 0 / 0%) 100%
  );

  --create-header-height: 4rem;
  --create-header-font-size: 1.6rem;

  --slide-title-font-size: 4vw;
  --slide-title-font-size-s: 3.5vw;
  --slide-title-font-size-xs: 3vw;
  --slide-title-font-size-xxs: 2.5vw;
  --slide-count-font-size: 1.25vw;

  --slide-option-font-size: 1.75vw;
  --slide-explanation-font-size: 1.25vw;
  --slide-option-counter-font-size: 1.85vw;
  --slide-option-explanation-font-size: 1.2vw;
  --slide-option-counter-size: 1.5em;

  --placeholder-color: rgb(255 255 255 / 50%);

  --background1: rgb(255 255 255 / 10%);

  --backdrop-background: $backdrop-background;

  --app-background: #000; // App background color
  --app-foreground: #fff; // Primary text color
  --app-foreground-secondary: #999; // Secondary text color
}
