:root {
  --slide-content-width: 70vw;
  --slide-content-padding-right: 10vw;
  --slide-content-padding-left: 5vw;
  --slide-content-gradient: linear-gradient(
    90deg,
    rgb(0 0 0 / 80%) 30%,
    rgb(0 0 0 / 60%) 70%,
    rgb(0 0 0 / 0%) 100%
  );

  --slide-title-font-size: 4vw;
  --slide-count-font-size: 1.25vw;

  --slide-option-font-size: 1.75vw;
  --slide-option-counter-font-size: 2vw;
  --slide-option-counter-size: 1.5em;
}
